OilWorld/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRiskResult">
        <s:complexType />
      </s:element>
      <s:element name="GetRiskResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRiskResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedirectByRiskInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_CountryID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_IndicatorID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedirectByRiskInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedirectByRiskInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedirectByCountryInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_CountryID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedirectByCountryInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedirectByCountryInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRiskResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetRiskResult" />
  </wsdl:message>
  <wsdl:message name="GetRiskResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetRiskResultResponse" />
  </wsdl:message>
  <wsdl:message name="RedirectByRiskInfoSoapIn">
    <wsdl:part name="parameters" element="tns:RedirectByRiskInfo" />
  </wsdl:message>
  <wsdl:message name="RedirectByRiskInfoSoapOut">
    <wsdl:part name="parameters" element="tns:RedirectByRiskInfoResponse" />
  </wsdl:message>
  <wsdl:message name="RedirectByCountryInfoSoapIn">
    <wsdl:part name="parameters" element="tns:RedirectByCountryInfo" />
  </wsdl:message>
  <wsdl:message name="RedirectByCountryInfoSoapOut">
    <wsdl:part name="parameters" element="tns:RedirectByCountryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRiskResultHttpGetIn" />
  <wsdl:message name="GetRiskResultHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedirectByRiskInfoHttpGetIn">
    <wsdl:part name="_CountryID" type="s:string" />
    <wsdl:part name="_IndicatorID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedirectByRiskInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedirectByCountryInfoHttpGetIn">
    <wsdl:part name="_CountryID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedirectByCountryInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRiskResultHttpPostIn" />
  <wsdl:message name="GetRiskResultHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedirectByRiskInfoHttpPostIn">
    <wsdl:part name="_CountryID" type="s:string" />
    <wsdl:part name="_IndicatorID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedirectByRiskInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedirectByCountryInfoHttpPostIn">
    <wsdl:part name="_CountryID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedirectByCountryInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetRiskResult">
      <wsdl:input message="tns:GetRiskResultSoapIn" />
      <wsdl:output message="tns:GetRiskResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedirectByRiskInfo">
      <wsdl:input message="tns:RedirectByRiskInfoSoapIn" />
      <wsdl:output message="tns:RedirectByRiskInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedirectByCountryInfo">
      <wsdl:input message="tns:RedirectByCountryInfoSoapIn" />
      <wsdl:output message="tns:RedirectByCountryInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="GetRiskResult">
      <wsdl:input message="tns:GetRiskResultHttpGetIn" />
      <wsdl:output message="tns:GetRiskResultHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RedirectByRiskInfo">
      <wsdl:input message="tns:RedirectByRiskInfoHttpGetIn" />
      <wsdl:output message="tns:RedirectByRiskInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RedirectByCountryInfo">
      <wsdl:input message="tns:RedirectByCountryInfoHttpGetIn" />
      <wsdl:output message="tns:RedirectByCountryInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpPost">
    <wsdl:operation name="GetRiskResult">
      <wsdl:input message="tns:GetRiskResultHttpPostIn" />
      <wsdl:output message="tns:GetRiskResultHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RedirectByRiskInfo">
      <wsdl:input message="tns:RedirectByRiskInfoHttpPostIn" />
      <wsdl:output message="tns:RedirectByRiskInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RedirectByCountryInfo">
      <wsdl:input message="tns:RedirectByCountryInfoHttpPostIn" />
      <wsdl:output message="tns:RedirectByCountryInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRiskResult">
      <soap:operation soapAction="http://tempuri.org/GetRiskResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectByRiskInfo">
      <soap:operation soapAction="http://tempuri.org/RedirectByRiskInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectByCountryInfo">
      <soap:operation soapAction="http://tempuri.org/RedirectByCountryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRiskResult">
      <soap12:operation soapAction="http://tempuri.org/GetRiskResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectByRiskInfo">
      <soap12:operation soapAction="http://tempuri.org/RedirectByRiskInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectByCountryInfo">
      <soap12:operation soapAction="http://tempuri.org/RedirectByCountryInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetRiskResult">
      <http:operation location="/GetRiskResult" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectByRiskInfo">
      <http:operation location="/RedirectByRiskInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectByCountryInfo">
      <http:operation location="/RedirectByCountryInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpPost" type="tns:WebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetRiskResult">
      <http:operation location="/GetRiskResult" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectByRiskInfo">
      <http:operation location="/RedirectByRiskInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectByCountryInfo">
      <http:operation location="/RedirectByCountryInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:7528/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:7528/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://localhost:7528/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpPost" binding="tns:WebService1HttpPost">
      <http:address location="http://localhost:7528/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>